Predictive Maintenance Alert and Work Order Automation.json
{
  "name": "Predictive Maintenance Alert and Work Order Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "4129cba1-fe83-43a9-994e-67fdbeeb74fa",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ machine_id: 'CNC-01', failure_probability: Math.floor(Math.random() * 101) }];"
      },
      "id": "cf4141c0-f4f9-45d2-86f4-2df34a2a66ec",
      "name": "Generate Machine Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Machine ID: {{ $json.machine_id }}, Failure Probability: {{ $json.failure_probability }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a highly analytical Predictive Maintenance (PdM) AI Agent named AutoParts-PdM. Your task is to process incoming real-time machine data and determine the necessary maintenance action based on the machine failure probability.\n\nRULES & INSTRUCTIONS:\n1. Critical Threshold: The mandatory action threshold is 85.\n2. Logic: Evaluate the Failure Probability.\n   - If the probability is 85 or higher (>= 85), the action is URGENT WORK ORDER.\n   - If the probability is less than 85 (< 85), the action is ROUTINE MONITORING.\n3. Output Format: You MUST return the result as a single, valid JSON object with the following three keys:\n   - machine_id: The Machine ID from the input context\n   - action_required: Either \"URGENT WORK ORDER\" or \"ROUTINE MONITORING\"\n   - risk_score: The Failure Probability from the input context\n\nDO NOT include any explanatory text, commentary, or markdown fences outside the JSON object."
        }
      },
      "id": "e34d0c12-42bb-4954-9ce4-e6e44209bcb3",
      "name": "AutoParts-PdM Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.action_required }}",
              "rightValue": "URGENT WORK ORDER",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3cce4c6b-161e-4914-89df-1df23805ba91",
      "name": "Check Action Required",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "pdm-system@autoparts.com",
        "toEmail": "abrahamsitori63@gmail.com",
        "subject": "=URGENT WORK ORDER: PdM Alert - {{ $json.machine_id }}",
        "emailFormat": "text",
        "text": "=Failure probability reached {{ $json.risk_score }}%. Schedule maintenance immediately for machine {{ $json.machine_id }}.",
        "options": {}
      },
      "id": "1183a710-5503-4898-b4ee-fd9cfff6320e",
      "name": "Send Urgent Work Order Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1024,
        0
      ],
      "webhookId": "707b60bd-cf43-4821-8156-b4849693dae2",
      "credentials": {
        "smtp": {
          "id": "VRD3FBAQ56IB18Mq",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "78bd47ac-132f-413e-a9f0-682b53999318",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        456,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "s7abCKnATxojE6aw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"machine_id\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Machine ID from input\"\n\t\t},\n\t\t\"action_required\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Either URGENT WORK ORDER or ROUTINE MONITORING\"\n\t\t},\n\t\t\"risk_score\": {\n\t\t\t\"type\": \"number\",\n\t\t\t\"description\": \"Failure probability percentage\"\n\t\t}\n\t}\n}"
      },
      "id": "c7aee45f-2d7f-43fd-af2d-60d7f178e750",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        584,
        224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Machine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Machine Data": {
      "main": [
        [
          {
            "node": "AutoParts-PdM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AutoParts-PdM Agent": {
      "main": [
        [
          {
            "node": "Check Action Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action Required": {
      "main": [
        [
          {
            "node": "Send Urgent Work Order Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AutoParts-PdM Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AutoParts-PdM Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "922c842c-d921-435c-b3d5-9ad572ef67fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de1c95ba711d16372bb32f5b8c5b73fab821d802336c9930b54cd00c801c20c0"
  },
  "id": "u3ZKw2fpXlOzFGZr",
  "tags": []
}